.gandhi{
    color: blue;
    background-color: aqua;
}
.nehru{
    color:rgb(184, 45, 137);
    background-color: rgb(48, 148, 101);
    
}

.vivekanand{
color: rgb(18, 18, 223);
background-color: rgb(167, 184, 20);

}

.sardar-patel{
color: rgb(140, 28, 231);
background-color: rgb(131, 115, 202);
}